* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    height: 40px;
    background-color: #edcc9649;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 0.5rem;
    padding: 15px;
    display: flex;
    

}

textarea {
    width: 100%;
    background-color: #edcc9649;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
}

button {
    height: 50px;
    width: 120px;
    background-color: #EDCB96;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    position: relative;
    
}

form button:hover{
    background-color: #e9bc73;
}

}

