* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    height: 40px;
    background-color: #edcc9649;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 0.5rem;
    padding: 15px;
    display: flex;



}

label {
    margin-left: 15px;
    margin-bottom: -5px;
    margin-top: 15px;

}

textarea {
    width: 100%;
    background-color: #edcc9649;
    border: none;
    border-radius: 20px;
    margin-top: 10px;

}

button {
    height: 50px;
    width: 120px;
    background-color: #edcc9649;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    margin-top: 30px;
    padding: 10px;

}

form button:hover {
    background-color: #EDCB96;
}

@media screen and (max-width: 400px) {
    form .row {
        display: flex;
        flex-direction: column;

    }

    label {
        margin-bottom: -10px;
    }

    button {
        margin-top: 15px;
    }
}