* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.holaContent h2 {
    font-size: 3em;
    font-weight: 800;
    color: #2F2E41;
}

.holaContent {
    width: 100vw;
    height: 97vh;
    padding: 0%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.holaContent img {
    width: 450px;
}

.name {
    color: #EDCB96;
    font-size: 4em;
    font-family: 'Lobster', cursive;
}

.textoOscuro {
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
    color: #2F2E41;
    margin-top: -10px;
    margin-left: 50px;
    text-align: justify;

}

.holaContent button {
    width: 50%;
    background-color: #edcc9649;
    border: none;
    border-radius: 30px;
    margin-left: 10px;
    margin-top: 30px;
    padding: 10px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;


}

.holaContent button:hover {
    background-color: #EDCB96;
}

@media screen and (max-width: 500px) {

    .holaContent {
        height: 95vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-self: center;
        margin-top: 0%;
    }

    .holaContent img {
        width: 200px;
    }

    .holaContent h2 {
        text-align: center;
        margin: 0%;
    }

    .holaContent button {
        width: 60vw;
        margin: 30px;
        align-items: center;
    }

    .name {
        text-align: center;
        margin: 0%;
    }

    .textoOscuro {
        text-align: center;
        margin: 0%;
    }
}