*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.holaContent h2{
    font-size: 3em;
    font-weight: 800;
    color: #2F2E41;
    margin-top: 35%;
    margin-left: -40%;
}

.holaContent{
    width: 100vw;
    height: 97vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.name{
    color: #EDCB96;
    font-family: 'Lobster', cursive;
    font-size: 4em;
    margin-left: -40%;
}