*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.projectContainer{
    width: 80vw;
    margin-bottom: 100px;
    border: black 1px solid;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
}

.boxProject{
    height: 300px;
    width: 300px;
    max-width: 300px;
    border: 1px solid #EDCB96;
    border-radius: 1em;
    margin: 10px;
    padding: 10px;
    color: #EDCB96;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.boxProject:hover {
    color: #2F2E41;
    border: 2px solid #2F2E41;
}

.boxProject img{
    height: 95%;
    width: 95%;
    max-width: 300px;
    object-fit: contain;
}

.boxProject a{
    margin: 0%;
}
