*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.holaContent{
    width: 100vw;
    height: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FDFDFD;
    padding: 20px 100px;
}
.name{
    color: #EDCB96;
    font-family: 'Lobster', cursive;
    font-size: 3em;
}
