*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*####HOLA#####
ver el archivo hello.css*/


/*####Conocimiento#####
ver el archivo skills.css*/

/*####QUOTE#####*/
.quoteContent{
    width: 100vw;
    height: 50vh;
    padding: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #EDCB96;
    color: #FDFDFD;
    font-style: italic;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*####CONTACTO#####*/
