*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

section ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
section i{
    color: #EDCB96;
}

.skillContainer{
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.boxConocimiento{
    height: 160px;
    width: 160px;
    border: 1px solid #EDCB96;
    border-radius: 1em;
    margin: 2em;
    color: #EDCB96;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.boxConocimiento:hover{
    background-color: #EDCB96;
    color:#FFFFFF;
    border: 1px solid #2F2E41;
}
.boxConocimiento:hover .fab{
    color:#FFFFFF;
}

@media screen and (max-width: 400px) {
    
}