@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;0,800;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}

h1 {
    font-size: 2em;
    color: #2e2e31;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-weight: 800;
    font-style: italic;
    color: #2F2E41;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
}

.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}

